{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Satya | Portfolio{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<nav class="navbar">
  <div class="nav-container">
    <a href="{% url 'home' %}" class="logo">Satya</a>

    <div class="nav-links">
      <a href="{% url 'home' %}">Home</a>
      <a href="{% url 'projects' %}">Projects</a>
      <a href="{% url 'contact' %}">Contact</a>
    </div>
  </div>
</nav>

<main class="container">
  {% block content %}{% endblock %}
</main>

<footer class="footer">
  © {{ now|date:"Y" }} Satya · Built with Django
</footer>

</body>
</html>